body {
	background: #f8c892;
	background-image: url("../img/potty2.png");
	background-size: 40px;
}
h1 {
	color: #2a1262;
}
blockquote{
	 
	color: #f7f1eb;
	text-align: left;
/*	border: 5px double #e6a469; */
}
table {
	text-align: center;
	border: 5px double #2a1262;
	border-spacing: 1px;
}
td {
	padding: 5px;
}
